{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Produto</title>
    <link rel="stylesheet" href="{% static 'produtos/style.css' %}">
</head>
<body>
<div class="container">
    <h1>Cadastro de Produto</h1>
    {% if mensagem %}
        <div class="mensagem-ok">
            <img src="{% static 'produtos/ok.jpg' %}" width="40" alt="OK">
            <p>{{ mensagem }}</p>
        </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Cadastrar</button>
    </form>
</div>
</body>
</html>